<?xml version="1.0" ?>
<model>
    <name> Robocup2019_indoor_kangaroo </name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>  Amirreza Kabiri
		Fatemeh Pahlevan Aghababa

        </name>
  <email>	
	 amirezakabiri@gmail.com    
         reyhanehpahlevan@ce.sharif.edu
   
</email>
    </author>
    <description></description>
</model>
