<?xml version="1.0"?>

<model>
  <name>robot_p3at</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mohammad H. Shayesteh</name>
    <email>m.h.shayesteh@gmail.com</email>
  </author>
  
  <description>
    Pioneer 3AT Mobile Robot with Skid-Steer Plugin, hokuyo plugin and camera Plugin modified for ROS2 combination.
  </description>
</model>
