<?xml version="1.0"?>

<model>
  <name>victim175</name>
  <version>1.0</version>
  <sdf version="1.5">victim175.sdf</sdf>

  <author>
    <name>Masaru Shimizu</name>
    <email>shimizu@sist.chukyo-u.ac.jp</email>
  </author>

  <description>
  Victim model having joints (175cm hight).
  </description>
</model>
