<?xml version="1.0" ?>
<robot name="robot">
  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link" />
    <origin xyz="0 0 0.010" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <inertial>
      <mass value="14.0"/>
      <origin rpy="0  0  0" xyz="0    0    0.18"/>
      <inertia ixx="0.147116667" ixy="0.0" ixz="0.0" iyy="0.334951167" iyz="0.0" izz="0.3978345"/>
    </inertial>
    <collision name="collision1">
      <origin rpy="0  0  0" xyz="0    0    0.18"/>
      <geometry>
        <box size="0.501 0.300 0.19"/>
      </geometry>
    </collision>
    <visual name="visual1">
      <origin rpy="0  0  0" xyz="0    0    0.18"/>
      <geometry>
        <mesh filename="package://rvrl_description/meshes/p3at/chassis.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>

  <joint name="right_front" type="revolute">
    <parent link="base_link"/>
    <child link="right_front_wheel"/>
    <origin rpy="1.5707  0      0" xyz="0.125 -0.201  0.12"/>
    <axis xyz="0.00000000e+00   9.00000000e-05  -1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>


  <link name="right_front_wheel">
    <inertial>
      <mass value="1.5"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.005240625" ixy="0" ixz="0" iyy="0.005240625" iyz="0" izz="0.009075"/>
    </inertial>
    <collision name="collision">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.075" radius="0.110"/>
      </geometry>
    </collision>
    <visual name="visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <mesh filename="package://rvrl_description/meshes/p3at/wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>

  <joint name="right_rear" type="revolute">
    <parent link="base_link"/>
    <child link="right_rear_wheel"/>
    <origin rpy="1.5707  0      0" xyz="-0.125 -0.201  0.12"/>
    <axis xyz="0.00000000e+00   9.00000000e-05  -1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>

  <link name="left_front_wheel">
    <inertial>
      <mass value="1.5"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.005240625" ixy="0" ixz="0" iyy="0.005240625" iyz="0" izz="0.009075"/>
    </inertial>
    <collision name="collision">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.075" radius="0.110"/>
      </geometry>
    </collision>
    <visual name="visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <mesh filename="package://rvrl_description/meshes/p3at/wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>

  <joint name="left_front" type="revolute">
    <parent link="base_link"/>
    <child link="left_front_wheel"/>
    <origin rpy="1.5707  0      0" xyz="0.125  0.201  0.12"/>
    <axis xyz="0.00000000e+00   9.00000000e-05  -1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>

  <link name="right_rear_wheel">
    <inertial>
      <mass value="1.5"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.005240625" ixy="0" ixz="0" iyy="0.005240625" iyz="0" izz="0.009075"/>
    </inertial>
    <collision name="collision">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.075" radius="0.110"/>
      </geometry>
    </collision>
    <visual name="visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <mesh filename="package://rvrl_description/meshes/p3at/wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>

  <joint name="left_rear" type="revolute">
    <parent link="base_link"/>
    <child link="left_rear_wheel"/>
    <origin rpy="1.5707  0      0" xyz="-0.125  0.201  0.12"/>
    <axis xyz="0.00000000e+00   9.00000000e-05  -1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>

  <link name="left_rear_wheel">
    <inertial>
      <mass value="1.5"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.005240625" ixy="0" ixz="0" iyy="0.005240625" iyz="0" izz="0.009075"/>
    </inertial>
    <collision name="collision">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.075" radius="0.110"/>
      </geometry>
    </collision>
    <visual name="visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <mesh filename="package://rvrl_description/meshes/p3at/wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0 0.068" rpy="0 0 0"/>
  </joint>

  <link name="imu_link"/>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_scan"/>
    <origin xyz="-0.064 0 0.122" rpy="0 0 0"/>
  </joint>

  <link name="base_scan">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.6205208333e-04" ixy="0" ixz="0" iyy="0.6205208333e-04" iyz="0" izz="4.1927083333e-05"/>
    </inertial>
    <collision name="collision-base">
      <origin rpy="0  0  0" xyz="0      0     -0.0145"/>
      <geometry>
        <box size="0.05 0.05 0.041"/>
      </geometry>
    </collision>
    <collision name="collision-top">
      <origin rpy="0  0  0" xyz="0      0      0.0205"/>
      <geometry>
        <cylinder length="0.029" radius="0.021"/>
      </geometry>
    </collision>
    <visual name="visual-base">
      <origin rpy="0  0  0" xyz="0      0     -0.0145"/>
      <geometry>
        <box size="0.05 0.05 0.041"/>
      </geometry>
    </visual>
    <visual name="visual-top">
      <origin rpy="0  0  0" xyz="0      0      0.0205"/>
      <geometry>
        <cylinder length="0.029" radius="0.021"/>
      </geometry>
    </visual>
    <visual name="visual-top-back">
      <origin rpy="0  0  0" xyz="-0.02   0     0.019"/>
      <geometry>
        <box size="0.01 0.01 0.025"/>
      </geometry>
    </visual>
  </link>

  <!-- begin of sonar added by Arnoud Visser - July 2022 -->
  <joint name="base_front_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.0 0 0.0"/>
        <parent link="base_link"/>
        <child link="front_sonar"/>
    </joint>
    <link name="front_sonar">
        <origin rpy="0 0 0" xyz="0.193 0 0.25"/>
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <!--geometry name="pioneer_geom">
        <mesh filename="package://amr_robots_description/meshes/p3at_meshes/front_sonar.stl"/>
      </geometry-->
      <material name="SonarYellow">
        <color rgba="0.715 0.583 0.210 1.0"/>
      </material>
    </visual>
    </link>
    <!-- end of sonar added by Arnoud Visser - July 2022 -->


  <joint name="camera_joint" type="fixed">
    <origin xyz="0.064 -0.065 0.094" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>

  <link name="camera_link">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.000166667" ixy="0" ixz="0" iyy="0.000166667" iyz="0" izz="0.000166667"/>
    </inertial>
    <collision name="collision-box">
      <origin rpy="0  0  0" xyz="-0.01  0    0"/>
      <geometry>
        <box size="0.08 0.1 0.1"/>
      </geometry>
    </collision>
    <collision name="collision-lens">
      <origin rpy="0    1.57  0" xyz="0.04  0    0"/>
      <geometry>
        <cylinder length="0.02" radius="0.03"/>
      </geometry>
    </collision>
    <visual name="visual-box">
      <origin rpy="0  0  0" xyz="-0.01  0    0"/>
      <geometry>
        <box size="0.08 0.1 0.1"/>
      </geometry>
    </visual>
    <visual name="visual-lens">
      <origin rpy="0    1.57  0" xyz="0.04  0    0"/>
      <geometry>
        <cylinder length="0.02" radius="0.03"/>
      </geometry>
    </visual>
  </link>

  <joint name="camera_rgb_joint" type="fixed">
    <origin xyz="0.005 0.018 0.013" rpy="0 0 0"/>
    <!-- <origin xyz="${r200_cam_rgb_px} ${r200_cam_rgb_py} ${r200_cam_rgb_pz}" rpy="0 0 0"/> -->
    <parent link="camera_link"/>
    <child link="camera_rgb_frame"/>
  </joint>
  <link name="camera_rgb_frame"/>

  <joint name="camera_rgb_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
    <parent link="camera_rgb_frame"/>
    <child link="camera_rgb_optical_frame"/>
  </joint>
  <link name="camera_rgb_optical_frame"/>

  <joint name="camera_depth_joint" type="fixed">
    <origin xyz="0.005 0.028 0.013" rpy="-1.57 0 -1.57"/>
    <!-- <origin xyz="${r200_cam_rgb_px} ${r200_cam_rgb_py + r200_cam_depth_offset} ${r200_cam_rgb_pz}" rpy="0 0 0"/> -->
    <parent link="camera_link"/>
    <child link="camera_depth_frame"/>
  </joint>
  <link name="camera_depth_frame"/>

  <joint name="camera_depth_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="camera_depth_frame"/>
    <child link="camera_depth_optical_frame"/>
  </joint>

  <link name="camera_depth_optical_frame"/>

</robot>
