<?xml version="1.0" ?>
<model>
    <name>Robocup2019_operahouse</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name> 
               Amirreza Kabiri
        </name>
        <email>   
		   amirezakabiri@gmail.com       
</email>
    </author>
    <description></description>
</model>
